*{
    margin: 0;
    padding: 0;
}
body {
    background-color: white;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header {
    background-color: rgb(0, 131, 192);
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fff;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.cont-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
.logo {
    width: 100%;
    display: flex;
    height: auto;
    margin: 5px;
    border: none;
    justify-content: center;
}
.logo img {
    width:130px
}
.volver {
    display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   text-align: center;
}
.volver a {
    font-size: 20px;
    color: #fff;
    text-align: start;
    justify-content: start;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   margin: 20px;
   width: 56px;
   padding: 20px;
   text-align: center;
   background-color: rgb(0, 131, 192);
   border-radius: 30px;
}

.informacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.subtitulo {
    color: rgb(0, 58, 85);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    font-size: 50px;
    border: solid rgb(0, 58, 85);
}
.cientifico {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.imagen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}


.imagen img {
    border-radius: 20px;
    border: solid rgb(0, 58, 85);
    width: 700px;
}

.texto {
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 18px;
    justify-content: start;
    line-height: 26px;
    margin-bottom: 30px;
}
.caracteristicas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
    
}

.caracteristicas img {
    width: 300px;
    justify-content: center;
    border: double 10px rgb(0, 58, 85);
}
.lista {
    padding: 30px;
    background-color: rgb(0, 58, 85);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 40px;
    list-style-type: none;
    width: 75%;
}

.lista li {
    margin-bottom: 30px;
}
.lista li::before {
    content: "▣";
    color: rgb(0, 131, 192);
    padding-right: 10px;
}
.usos {
    padding: 30px;
    background-color: rgb(0, 58, 85);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    padding-left: 40px;
    list-style-type: none;
}


.dos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.epigrafe {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer {
    background-color: rgb(0, 131, 192);
    color: #fff;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}
footer .redes img {
    width: 40px;
    justify-content: end;
    padding: 20px;
}
footer .nombre {
    text-align: center;
    flex: 1;
    padding-left: 14%;
}

@media screen and (min-width: 1025px) and (max-width:1200px) {
    .lista {
        width: 500px;
    }
    .caracteristicas img {
        margin: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .lista {
        width: 350px;
        font-size: 15px;
    }
    .usos {
        font-size: 15px;
    }
    .dos img {
        width: 300px;
        height: auto;
        margin: 0;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .header {
        font-size: 24px;
    }
    .imagen img {
        width: 400px;
    }
    .texto {
        font-size: 16px;
    }
    .caracteristicas {
        justify-content: center;
    }
    .lista {
        width: 400px;
        margin-bottom: 30px;
        font-size: 15px;
    }
    .footer {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    .header {
        font-size: 24px;
    }
    .imagen img {
        width: 400px;
    }
    .texto {
        font-size: 16px;
    }
    .caracteristicas {
        justify-content: center;
    }
    .lista {
        width: 300px;
        margin-bottom: 30px;
        font-size: 15px;
    }
    footer {
        flex-direction: column;
    }
    footer .nombre {
        padding-left: 0;
    }
}